In [2]:
import pandas as pd

df = pd.read_csv('dataset/product_data.csv')

df.head()

,cod_modelo_color,cod_color_code,des_color_specification_esp,des_agrup_color_eng,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename
0,41085800-02,02,OFFWHITE,WHITE,Female,Adult,SHE,P-PLANA,Bottoms,Trousers & leggings,Trousers,Trousers,datathon/images/2019_41085800_02.jpg
1,53000586-TO,TO,TEJANO OSCURO,BLUE,Female,Adult,SHE,J-JEANS,Bottoms,Jeans,Jeans,Jeans,datathon/images/2019_53000586_TO.jpg
2,53030601-81,81,ROSA PASTEL,PINK,Female,Adult,SHE,P-PLANA,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,datathon/images/2019_53030601_81.jpg
3,53050730-15,15,MOSTAZA,YELLOW,Female,Adult,SHE,P-PLANA,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,datathon/images/2019_53050730_15.jpg
4,53070773-70,70,ROJO,RED,Female,Adult,SHE,P-PLANA,Tops,Shirts,Shirt,Shirt,datathon/images/2019_53070773_70.jpg

In [50]:
df[['cod_color_code', 'des_color_specification_esp']].value_counts()

cod_color_code  des_color_specification_esp
99              NEGRO                          2119
05              CRUDO                           608
02              OFFWHITE                        563
OR              ORO                             445
01              BLANCO                          426
                                               ...
TL              TEJANO GRIS CLARO                 1
93              CENIZA                            1
73              BLOOD                             1
89              GERANIO                           1
97              ASFALTO                           1
Name: count, Length: 110, dtype: int64

In [48]:
df[df['cod_modelo_color'].str.startswith('57054763')]

,cod_modelo_color,cod_color_code,des_color_specification_esp,des_agrup_color_eng,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename
709,57054763-65,65,MORADO,PURPLE,Female,Adult,SHE,C-COMPLEMENTOS,"Accesories, Swim and Intimate",Accessories,"Hats, scarves and gloves",Scarf,datathon/images/2023_57054763_65.jpg
753,57054763-99,99,NEGRO,GREY,Female,Adult,SHE,C-COMPLEMENTOS,"Accesories, Swim and Intimate",Accessories,"Hats, scarves and gloves",Scarf,datathon/images/2023_57054763_99.jpg
1734,57054763-35,35,TOPO,BROWN,Female,Adult,SHE,C-COMPLEMENTOS,"Accesories, Swim and Intimate",Accessories,"Hats, scarves and gloves",Scarf,datathon/images/2023_57054763_35.jpg
2280,57054763-05,05,CRUDO,WHITE,Female,Adult,SHE,C-COMPLEMENTOS,"Accesories, Swim and Intimate",Accessories,"Hats, scarves and gloves",Scarf,datathon/images/2023_57054763_05.jpg
2799,57054763-43,43,VERDE,GREEN,Female,Adult,SHE,C-COMPLEMENTOS,"Accesories, Swim and Intimate",Accessories,"Hats, scarves and gloves",Scarf,datathon/images/2023_57054763_43.jpg
3939,57054763-56,56,NAVY,BLUE,Female,Adult,SHE,C-COMPLEMENTOS,"Accesories, Swim and Intimate",Accessories,"Hats, scarves and gloves",Scarf,datathon/images/2023_57054763_56.jpg
4086,57054763-09,09,CAMEL,WHITE,Female,Adult,SHE,C-COMPLEMENTOS,"Accesories, Swim and Intimate",Accessories,"Hats, scarves and gloves",Scarf,datathon/images/2023_57054763_09.jpg
5360,57054763-70,70,ROJO,RED,Female,Adult,SHE,C-COMPLEMENTOS,"Accesories, Swim and Intimate",Accessories,"Hats, scarves and gloves",Scarf,datathon/images/2023_57054763_70.jpg
7603,57054763-40,40,VERDE PASTEL,GREEN,Female,Adult,SHE,C-COMPLEMENTOS,"Accesories, Swim and Intimate",Accessories,"Hats, scarves and gloves",Scarf,datathon/images/2023_57054763_40.jpg
8955,57054763-91,91,GRIS CLARO VIGORE,GREY,Female,Adult,SHE,C-COMPLEMENTOS,"Accesories, Swim and Intimate",Accessories,"Hats, scarves and gloves",Scarf,datathon/images/2023_57054763_91.jpg

In [46]:
df['cod_modelo_color'].str[:-2].value_counts().head(100)

cod_modelo_color
57054763-    10
53000586-    10
53000578-     8
53040524-     8
53070671-     8
             ..
53003723-     4
53060602-     4
53055714-     4
53040541-     4
57085785-     4
Name: count, Length: 100, dtype: int64

In [35]:
df2.head()

   cod_outfit cod_modelo_color
0           1      51000622-02
1           1      43067759-01
2           1      53060518-02
3           1      53030594-08
4           1      43077762-01

In [38]:
# Hi ha 
df2.groupby('cod_outfit').sum()

                                             cod_modelo_color
cod_outfit
1           51000622-0243067759-0153060518-0253030594-0843...
2           53060518-0251000622-0641041002-0253060511-0843...
3           43075794-OR43005802-OR51000622-7041078827-7043...
4           43075794-OR43005802-OR43073737-OR43063738-4643...
5           53060518-0243005802-OR43073737-OR43025786-OR51...
...                                                       ...
7838        57036014-3057077714-9957094411-3057966022-9257...
7839        57036014-3057077714-9957094411-3057054043-0847...
7840        53080809-OR51080862-9953053793-OR57006706-9957...
7841        53080809-OR53080716-OR53023750-9957035922-9957...
7842        53080809-OR53080716-OR53023750-9957035922-9957...

[7842 rows x 1 columns]

In [15]:
(df['cod_modelo_color'].str[-2:] == df['cod_color_code']).all()

True

In [18]:
df[['des_sex', 'des_age']].value_counts()

des_sex  des_age
Female   Adult      9151
Unisex   Adult        50
Female   Kids         19
Male     Adult         2
Name: count, dtype: int64

In [12]:
df['cod_color_code'].value_counts()

cod_color_code
99    2119
05     608
02     563
OR     445
01     426
      ...
TL       1
66       1
93       1
73       1
97       1
Name: count, Length: 110, dtype: int64

In [24]:
df.head()

,cod_modelo_color,cod_color_code,des_color_specification_esp,des_agrup_color_eng,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename
0,41085800-02,02,OFFWHITE,WHITE,Female,Adult,SHE,P-PLANA,Bottoms,Trousers & leggings,Trousers,Trousers,datathon/images/2019_41085800_02.jpg
1,53000586-TO,TO,TEJANO OSCURO,BLUE,Female,Adult,SHE,J-JEANS,Bottoms,Jeans,Jeans,Jeans,datathon/images/2019_53000586_TO.jpg
2,53030601-81,81,ROSA PASTEL,PINK,Female,Adult,SHE,P-PLANA,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,datathon/images/2019_53030601_81.jpg
3,53050730-15,15,MOSTAZA,YELLOW,Female,Adult,SHE,P-PLANA,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,datathon/images/2019_53050730_15.jpg
4,53070773-70,70,ROJO,RED,Female,Adult,SHE,P-PLANA,Tops,Shirts,Shirt,Shirt,datathon/images/2019_53070773_70.jpg

In [11]:
df.describe()

,cod_modelo_color,cod_color_code,des_color_specification_esp,des_agrup_color_eng,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename
count,9222,9222,9222,9222,9222,9222,9222,9222,9222,9222,9222,9222,9222
unique,9222,110,110,10,3,2,5,7,7,16,39,123,9222
top,41085800-02,99,NEGRO,GREY,Female,Adult,SHE,P-PLANA,Tops,Accessories,Dresses,Dress,datathon/images/2019_41085800_02.jpg
freq,1,2119,2119,2907,9170,9203,9144,3041,2768,2466,1189,1188,1

In [31]:
df['des_product_category'].value_counts()

des_product_category
Tops                                   2768
Accesories, Swim and Intimate          2633
Bottoms                                1631
Dresses, jumpsuits and Complete set    1374
Outerwear                               725
Home                                     61
Beauty                                   30
Name: count, dtype: int64

In [25]:
# Make a function to group the outfits described in df2 and join them in df1

def group_outfits(df1, df2):
    '''
    Function to group the outfits described in df2 and join them in df1
    '''
    # Make a copy of df1
    df = df1.copy()
    
    # Make a list of the outfits
    outfits = df2['outfit_id'].unique()
    
    # Make a dictionary with the outfits and the items
    outfit_dict = {}
    for outfit in outfits:
        outfit_dict[outfit] = df2[df2['outfit_id'] == outfit]['cod_articulo'].values
    
    # Make a new column in df1 with the outfits
    df['outfit'] = df['cod_articulo'].map(outfit_dict)
    
    return df

In [4]:
df['des_sex'].value_counts()

des_sex
Female    9170
Unisex      50
Male         2
Name: count, dtype: int64

In [6]:
df[df['cod_modelo_color']=='43067759-01']

,cod_modelo_color,cod_color_code,des_color_specification_esp,des_agrup_color_eng,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename
1278,43067759-01,01,BLANCO,WHITE,Female,Adult,SHE,P-PLANA,Bottoms,Skirts and shorts,Skirts,Skirt,datathon/images/2019_43067759_01.jpg

In [27]:
df2 = pd.read_csv('dataset/outfit_data.csv')
df2.head(10)

   cod_outfit cod_modelo_color
0           1      51000622-02
1           1      43067759-01
2           1      53060518-02
3           1      53030594-08
4           1      43077762-01
5           1      43063724-OR
6           1      43075794-OR
7        2086      51000622-02
8        2086      53003778-OR
9        2086      53010582-TM

In [23]:
df2['cod_outfit'].value_counts().value_counts()

count
5     3875
6     1737
4      758
7      674
8      309
9      174
3      142
10      95
2       30
11      26
12      13
13       8
15       1
Name: count, dtype: int64

In [1]:
import matplotlib.pyplot as plt

def plot_all_outfit_images(outfit_data, product_data):
    unique_outfits = outfit_data['cod_outfit'].unique()
    i = 0

    for outfit_id in unique_outfits:
        if i < 20:
            i += 1
            # Filter the products that belong to the specified outfit
            outfit_products = outfit_data[outfit_data['cod_outfit'] == outfit_id]['cod_modelo_color']
            linked_products = product_data[product_data['cod_modelo_color'].isin(outfit_products)]

            # Plotting the images
            print(f"Outfit ID: {outfit_id}")
            fig, axes = plt.subplots(1, len(linked_products), figsize=(20, 10))
            if len(linked_products) == 1:  # Handle case for single product
                axes = [axes]
            for ax, (_, product) in zip(axes, linked_products.iterrows()):
                img_path = product['des_filename']
                try:
                    img = Image.open(img_path)
                    ax.imshow(img)
                    ax.set_title(product['cod_modelo_color'])
                    ax.axis('off')
                except FileNotFoundError:
                    ax.set_title("Image not found")
                    ax.axis('off')
            plt.tight_layout()
            plt.show()
        else:
            break

In [2]:
plot_all_outfit_images(outfit_data, product_data)

NameError: name 'df2' is not defined